.header {color:red;font-size: 130px;}

.hk {width:200px; height:150x}
.subs {font-size: 40px; font-family: 'Fjalla One', sans-serif; color: white;}
.links {color: white}

body {background-color: white;
	font-family: 'Slabo 27px', serif; 
	font-size: 17px; 
	color: black;
	background-image: url(../img/jengs2.jpg)}

.head {margin-top: 80px;}


img {margin-bottom: 15px; margin-left:10px;}







